/*onde ficam as divs relevantes para a página*/
main{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
/*video de fundo nas páginas*/
main > video{
    position: absolute;
    width: 100%;
    overflow: hidden;
    bottom: 0;
    z-index: 1;
}
/*div de login, cadastro e redefinição de senha*/
#login{
    position: relative;
    background-image: url(../media/img/background-template-darker.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
    min-height: 100%;
    min-width: 70%;
    left: 50%;
    color: rgb(255, 100, 0);
    z-index: 1;
    transform: translate(-50%);
}

/*imagem na div login*/
#imagem-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin-bottom: -20px;
    border-radius: 50%;
    overflow: hidden;
}
#form-icon{
    height: 150px;
    width: 150px;
}
#imagem-preview{
    display: none;
    height: 200px;
    opacity: 0;
}
#perfil-icon{
    height: 150px;
}
/*elemento form na div login*/
#login-form{
    max-height: 100%;
    min-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}
.cadastro{
    min-height: 42vh;
}
/*divs onde ficam os input*/
.login-div{
    background-color: var(--cor-preto-transparente);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    height: 55px;
    width: 100%;
    color: var(--cor-login);
    border: 2px solid var(--cor-secundaria-destaque);
    border-radius: 30px;
}
.login-div:hover{
    border-color: white;
}
.icon{
    filter: brightness(0) saturate(100%) invert(67%) sepia(82%) saturate(500%) hue-rotate(5deg);
}
/*ícones dos inputs*/
.login-div label > img{
    position: absolute;
    margin-top: -15px;
    margin-left: 20px;
    height: 30px;
}
/*inputs*/
.login-div input{
    min-height: 100%;
    min-width: 100%;
    color: white;
    font-size: 1rem;
    background-color: transparent;
    border-radius: 30px; 
    border: none;
}
/*div de senha*/
#password-div{
    display: flex;
    justify-content: space-between;
}
/*input de senha*/
#password-input{
    width: 30px;
}
/*desabilitar função nativa de mostrar senha em alguns navegadores*/
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
}
/*ícone de mostrar senha*/
.mostrar-senha{
    border: none;
    background-color: transparent;
    opacity: 50%;
}
.mostrar-senha img{
    height: 22px;
    margin-top: 3px;
    margin-left: -60px;
}
/*botão de login e cadastro*/
.entrar-cadastrar{
    margin-top: 10px;
    color: var(--cor-login);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
.entrar-cadastrar:hover{
    color: black;
    background-color: white;
    font-weight: bold;
    border-color: transparent;
}
#entrar-botao{
    height: 45px;
    width: 100%;
    font-size: 1rem;
    border-radius: 50px;
}
/*link para a página de redefinição de senha*/
.esqueci-senha{
    padding: 5px 10px;
    border: 2px solid transparent;
}
.esqueci-senha:hover{
    text-decoration: underline;
    border-color: white;
}
/*botão de redefinir senha*/
.redefinir{
    padding: 10px;
    font-weight: 500;
}
.redefinir:hover{
    background-color: white;
    color: black;
    font-weight: 600;
    border-color: white;
}
/*div de input de imagem*/
#imagem-input-div{
    height: 50px;
    width: 100%;
}
/*label para o input de imagem (botão)*/
#imagem-input-botao{
    display: inline-block;
    background-color: var(--cor-preto-transparente);
    color: white;
    height: 50px;
    width: 100%;
    font-weight: 500;
    line-height: 40px;
    border: 2px solid var(--cor-secundaria-destaque);
    border-radius: 40px;
    cursor: pointer;
}
#imagem-input-botao:hover{
    border-color: white;
}
/*input de imagem padrão é ocultado*/ 
#imagem-input{
    display: none;
}

@media screen and (orientation: portrait){
    main{
        height: 100vh;
        width: 100vw;
        justify-content: center;
        overflow: hidden;
    }
    video{
        display: none;
    }
    #login{
        background-color: rgba(0, 0, 0, 0.63);
        border: 2px solid var(--cor-secundaria);
        border-right: none;
        border-left: none;
        min-width: 100vw;
    }
    .login-div{
        height: 5.5vh;
        min-width: 95vw;
    }
    .login-div label{
        padding-top: 0px;
    }
    .login-icone{
        position: absolute;
        margin-left: 5vw;
        max-height: 4vh;
    }
    .login-div input{
        font-size: 0.9rem;
    }
    #imagem-input-div{
        max-height: 5.5vh;
    }
    #imagem-input-div label{
        height: 5.5vh;
        line-height: 5.2vh;
    }
    .entrar-cadastrar{
        min-height: 5.5vh;
        background-color: var(--cor-principal-destaque);
    }
    #entrar-botao{
        background-color: var(--cor-principal);
        font-size: 0.9rem;
    }
}
/*celulares menores na horizontal*/
@media screen and (orientation: landscape) and (max-height: 411px){
    #login{
        flex-direction: row;
        min-width: 65%;
        gap: 10%;
    }
    #imagem-div{
        max-height: 90px;
        max-width: 90px;
    }
    #imagem-div img{
        max-height: 90px;
        left: auto;
        transform: translate(0,0);
    }
    #login-form{
        margin-top: 5%;
    }
    .login-div{
        min-height: 32px;
    }
    .login-div label{
        padding-top: 10px;
    }
    .login-icone{
        max-height: 18px;
        margin-left: 15px !important;
    }
    #login-form{
        max-height: 32vh !important;
        min-width: 45% !important;
        gap: 17px;
    }
    .login-div input{
        font-size: 0.6rem;
        font-weight: 550;
    }
    .mostrar-senha-icone{
        max-height: 15px;
        margin-right: -25px !important;
    }
    #imagem-input-div{
        min-height: 32px;
    }
    #imagem-input-div label{
        font-size: 0.6rem;
        font-weight: 550;
       line-height: 30px;
    }
    .entrar-cadastrar{
        min-height: 32px;
        line-height: 0px;
        font-size: 0.55rem;
        font-weight: 550;
    }
}
@media screen and (orientation: landscape) and (min-height: 412px) and (max-height: 549px){
    #login{
        min-width: 70%;
        gap: 5vh;
    }
    #imagem-div{
        max-height: 90px;
        max-width: 90px;
    }
    #imagem-div img{
        max-height: 90px;
    }
    .login-div{
        min-height: 30px;
    }
    .login-div label{
        padding-top: 10px;
    }
    .login-icone{
        max-height: 18px;
    }
    #login-form{
        height: 42vh;
        gap: 10px;
    }
    .login-div input{
        font-size: 0.6rem;
        font-weight: 550;
    }
    .mostrar-senha-icone{
        max-height: 15px;
        margin-right: -20px !important;
    }
    #imagem-input-div{
        min-height: 30px;
    }
    #imagem-input-div label{
        font-size: 0.6rem;
        font-weight: 550;
       line-height: 27px;
    }
    .entrar-cadastrar{
        min-height: 30px !important;
        line-height: 0px;
        font-size: 0.55rem;
        font-weight: 550;
    }
}
/*1366x768*/
@media screen and (orientation: landscape) and (min-height: 550px) and (max-height: 749px){
    #login{
        gap: 30px;
    }
    #imagem-div{
        height: 120px;
        width: 120px;
    }
    #perfil-icon{
        height: 120px;
        width: 120px;
    }
    #form-icon{
        height: 95px;
        width: 95px;
    }
    #imagem-preview{
        height: 120px;
    }
    .login-div{
        min-height: 35px;
    }
    .login-div label{
        max-height: 35px;
        padding-top: 5px;
    }
    .login-icone{
        max-height: 25px;
        margin-left: 0px;
    }
    #login-form{
        height: 49vh;
    }
    .login-div input{
        font-size: 0.75rem;
        font-weight: 550;
    }
    .mostrar-senha-icone{
        max-height: 20px;
    }
    #imagem-input-div{
        margin-top: -8px;
        min-height: 30px;
        max-height: 40px;
    }
    #imagem-input-div label{
        font-size: 0.75rem;
        font-weight: 550;
       line-height: 35px;
    }
    .entrar-cadastrar{
        margin-top: 5px;
        height: 35px;
        font-size: 0.75rem;
        font-weight: 550;
        line-height: 10px;
    }
}
/*1600x900*/
@media screen and (orientation: landscape) and (min-height: 750px) {
    #login{
        gap: 50px;
    }
    #imagem-div{
        margin-bottom: 0px;
        max-height: 160px;
        max-width: 160px;
    }
    #perfil-icon{
        margin-bottom: -50px;
    }
    #form-icon{
        height: 120px;
        width: 120px;
    }
    #imagem-preview{
        max-height: 160px;
    }
    .login-div{
        min-height: 50px;
    }
    .login-div label{
        max-height: 50px;
        padding-top: 0px;
        padding-left: 5px;
        padding-right: -10px;
    }
    .login-div img{
        max-height: 30px;
    }
    #login-form{
        height: 40vh;
    }
    .login-div input{
        font-size: 0.9rem;
    }
    #imagem-input-div{
        min-height: 45px;
    }
    #imagem-input-div label{
        font-size: 0.9rem;
       line-height: 40px;
    }
    .entrar-cadastrar{
        height: 45px;
    }
}
@media screen and (orientation: landscape) and (max-width: 800px){
    #login{
        min-width: 70%;
        }
    #login-form{
        min-width: 60%;
    }
}
@media screen and (orientation: landscape) and (min-width: 801px){
    #login{
        min-width: 60%;
    }
    #login-form{
        min-width: 55%;
    }
}
@media screen and (orientation: landscape) and (min-width: 1280px){
    #login-form{
        min-width: 48%;
    }
}
@media screen and (orientation: landscape) and (min-width: 1360px){
    #login{
        min-width: 70%;
    }
    #login-form{
        min-width: 39%;
    }
}
@media screen and (orientation: landscape) and (min-width: 1367px){
    #login{
        min-width: 65%;
    }
    #login-form{
        min-width: 45%;
    }
}
@media screen and (orientation: landscape) and (min-width: 1601px){
    #login{
        min-width: 65%;
    }
    #login-form{
        min-width: 45%;
    }
}