body{
    background-image: url(../media/img/background-template-darker.png);
    background-size: contain;
    overflow-y: scroll;
}

#header{
  position: fixed;
}

#header-direita{
  margin-right: 3vw;
}

main{
  display: flex;
  flex-direction: column;
  min-height: 185vh;
  padding-top: 11vh;
  flex-direction: column;
  justify-content: top;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 70px;
}

#div-cadeiras{
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin-top: -10vh;
  overflow: hidden;
}

#video-cadeiras{
  width: 100%;
}

.secao{
  height: 768px;
  width: 1366px;
  box-shadow:
    0px 0px 50px black,
    0px 0px 50px black,
    0px 0px 50px black;
  border-radius: 20px;
}

#secao-em-alta{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow:
    0px 0px 50px black,
    0px 0px 50px black,
    0px 0px 50px black;
  z-index: 1;
}

.div-trailer{
  position: absolute;
  height: 768px;
  width: 1366px;
  z-index: -1;
  border-radius: 20px;
  overflow: hidden;
  opacity: 50%;
}

.div-trailer:hover{
  opacity: 100%;
}

.trailer{
  width: 1366px;
}

#div-botoes-trailer-em-alta{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  right: 20px;
  padding: 30px;
  gap: 20px;
  z-index: 2;
  opacity: 30%;
}

#div-botoes-trailer-em-alta:hover{
  opacity: 100%;
}

#div-botoes-trailer-em-alta > button{
  display: flex;
  border: none;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  gap: 10px;
}

#div-botoes-trailer-em-alta > button:hover{
  color: var(--cor-secundaria);
}

#div-boas-vindas{
  display: flex;
  min-height: 270px;
  flex-direction: column;
  justify-content: space-between;
}

#div-logo img{
  height: 180px;
}

#div-boas-vindas h1{
  color: white;
  font-size: 1.35rem;
}

#conteiner-transparente-em-alta{
  background-color: rgba(0, 0, 0, 0.781);
  margin-bottom: -40px;
  padding: 25px;
  border-radius: 20px;
}

#titulo-filmes-em-alta{
  color: white;
  text-align: left;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 1.3rem;
  padding-left: 10px;
}

#div-filmes-em-alta{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

#conteiner-capas-1-em-alta{
  display: flex;
  background-color: rgba(255, 255, 255, 0.397);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  height: 245px;
  width: 810px;
  border-radius: 20px;
}

#conteiner-capas-2-em-alta{
  display: flex;
  height: 225px;
  width: 790px;
  margin: auto;
  margin-top: 10px;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 10px;
  overflow: hidden;
}

.botao-mudar-filmes{
  background-color: rgba(0, 0, 0, 0.911);
  color: var(--cor-secundaria);
  height: 225px;
  width: 60px;
  border-color: var(--cor-secundaria);
  z-index: 1;
}

.botao-mudar-filmes:hover{
  border-color: var(--cor-principal-destaque);
  color: var(--cor-principal-destaque);
}

/*começa invisível e sem clique*/
#mudar-em-alta-esquerda{
  opacity: 0;
  margin-top: -235px;
  margin-left: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  pointer-events: none;
}

#mudar-em-alta-direita{
  margin-top: -225px;
  margin-left: calc(100% - 70px);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.div-capa-filme-em-alta{
  min-width: 150px;
  height: 225px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid lightgrey;
  border-radius: 10px;
  overflow: hidden;
}

.div-capa-filme-em-alta:hover{
  border: 2px solid var(--cor-secundaria);
}

.div-capa-filme-em-alta:hover > .curti{
  opacity: 100%;
  pointer-events: auto;
  cursor: pointer;
}

.curti{
  position: absolute;
  color: white;
  margin-top: 150px;
  margin-left: 75px;
  background-color: rgba(0, 0, 0, 0.726);
  padding: 10px;
  opacity: 0;
  border-radius: 5px;
  pointer-events: none;
  z-index: 1;
}

.curti:hover{
  color: var(--cor-secundaria);
}

.div-capa-filme-em-alta img{
  width: 150px;
  height: 225px;
}

.rolar-tela{
  position: absolute;
  color: grey;
  height: 70px;
  width: 70px;
  right: 5.5vw;
  border: 2px solid rgba(255, 255, 255, 0.295);
  border-radius: 50%;
}

.rolar-tela:hover{
  border-color: var(--cor-secundaria);
  color: var(--cor-secundaria);
}

#rolar-tela-baixo{
  top: 75vh;
}

#secao-generos{
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1;
}

#div-trailer-2{
  z-index: 2;
}


#div-titulos-generos{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  z-index: 2;
}

.titulo-genero{
  line-height: 200px;
  width: 100px;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  margin-left: -50px;
}

#div-generos{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 2;
}

.conteiner-capas-1-generos{
  display: flex;
  background-color: rgba(255, 255, 255, 0.397);
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  height: 200px;
  width: fit-content;
  border-radius: 20px;
}

.conteiner-capas-2-generos{
  display: flex;
  height: 184px;
  width: 1080px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
}

.div-capa-filme-generos{
  background-color: #ccc;
  border: 2px solid lightgrey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  overflow: hidden;
}

.div-capa-filme-generos:hover{
  border-color: var(--cor-secundaria);
}

.div-capa-filme-generos img{
  width: 120px;
  height: 180px;
}

#rolar-tela-cima{
  top: 115vh;
}

footer{
  position: fixed;
}

@media screen and (max-width: 1370px) {
  main{
    padding-top: 90px;
    height: 200vh;
  }

  .secao{
    height: 480px;
    width: 854px;
    overflow: hidden;
  }

  #div-botoes-trailer-em-alta{
    right: 10px;
    padding: 10px;
    gap: 10px;
    z-index: 2;
    opacity: 30%;
  }

  #div-botoes-trailer-em-alta > button{
    height: 25px;
    font-size: 0.7rem;
    line-height: 25px;
    padding: 12px 5px;
    gap: 5px;
  }

  .icone-em-alta{
    font-size: 20px !important;
  }

  .div-trailer{
    height: 480px;
    width: 854px;
  }

  .trailer{
    width: 854px;
  }
  
  #div-boas-vindas{
    min-height: 180px;
  }

  #div-logo img{
    height: 120px;
  }

  #div-boas-vindas h1{
    font-size: 1rem;
  }

  #conteiner-transparente-em-alta{
    padding: 15px;
    margin-bottom: -20px;
  }

  #titulo-filmes-em-alta{
    font-weight: 500;
    font-size: 1rem;
  }

  #conteiner-capas-1-em-alta{
    height: 170px;
    width: 560px;
  }

  #conteiner-capas-2-em-alta{
    height: 150px;
    width: 540px;
    margin-top: auto;
    gap: 10px;
  }
  
  .botao-mudar-filmes{
    height: 150px;
    width: 40px;
  }

  /*começa invisível e sem clique*/
  #mudar-em-alta-esquerda{
    opacity: 0;
    margin-top: -160px;
    margin-left: 10px;
    pointer-events: none;
  }

  #mudar-em-alta-direita{
    margin-top: -150px;
    margin-left: 91%;
  }

  .div-capa-filme-em-alta{
    min-width: 100px;
    height: 150px;
    border-radius: 10px;
  }

  .curti{
    margin-top: 100px;
    margin-left: 50px;
    padding: 5px;
  }

  .div-capa-filme-em-alta img{
    height: 150px;
    width: 100px;
  }

  .rolar-tela{
    height: 50px;
    width: 50px;
    right: 5.5vw;
  }

  #div-titulos-generos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .titulo-genero{
    line-height: 120px;
    width: 50px;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    margin-left: -30px;
  }

  #div-generos{
    justify-content: space-evenly;
  }

  .conteiner-capas-1-generos{
    height: 122px;
    width: fit-content;
    border-radius: 10px;
  }

  .conteiner-capas-2-generos{
    min-height: 110px;
    width: 695px;
    gap: 10px;
  }

  .div-capa-filme-generos{
    font-size: 0.7rem;
    border-radius: 10px;
  }

  .div-capa-filme-generos img{
    width: 73px;
    height: 110px;
  }
}