/*aparece quando o usuário erra a senha*/
.mensagem-erro {
    background-color: var(--cor-principal-destaque);
    position: absolute;
    top: 55px;
    color: white;
    font-size: 2vh;
    text-align: center;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
    0 4px 8px rgba(0, 0, 0, 0.2),
    0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (orientation: portrait){

    #imagem-div{
        max-height: 130px;
        max-width: 130px;
        margin-bottom: 20px;
    }
    #imagem-div img{
        max-height: 130px;
    }

    .login-div{
        height: 6.5vh;
        min-width: 90vw;
    }
    .login-icone{
        max-height: 20px !important;
    }
    .login-div input{
        font-size: 0.75rem;
    }

    .mostrar-senha-icone{
        max-height: 20px;
    }

    .entrar-cadastrar{
        min-height: 6.5vh;
    }
    #entrar-botao{
        font-size: 0.9rem;
    }
}

@media screen and (orientation: landscape) and (max-height: 570px) {
    #header-direita{
        min-width: 25vw;
    }
    .botao-cadastrar-entrar{
        font-size: 0.8rem;
    }
    #login{
        flex-direction: column;
        gap: 10px;
    }
    #imagem-div{
        max-height: 100px;
        max-width: 100px;
    }
    #imagem-div img{
        max-height: 100px;
    }
    .login-div{
        max-height: 35px;
    }
    .login-icone{
        max-height: 23px;
    }
    #login-form{
        gap: 20px;
        height: 35vh;
        min-width: 60%;
    }
    .login-div input{
        font-size: 0.75rem;
        font-weight: 550;
    }
    .mostrar-senha-icone{
        min-height: 15px;
        margin-right: -10px;
    }
    #entrar-botao{
        max-height: 35px;
        line-height: 5px;
        font-size: 0.65rem;
        font-weight: 550;
    }
    .esqueci-senha{
        margin-top: 20px;
        font-size: 0.65rem;
    }
    .redefinir{
        font-size: 0.65rem;
        line-height: 5px;
        height: 30px;
    }
    footer{
        font-size: 0.7rem;
        font-weight: 550;
    }
}

@media screen and (orientation: landscape) and (min-height: 571px){
    #login{
        gap: 7vh !important;
    }
    #login-form{
        height: 30vh;
    }
    #imagem-div{
        max-height: 150px;
        max-width: 150px;
    }
    #imagem-div img{
        max-height: 150px;
    }
    .login-div{
        min-height: 40px;
    }
    .login-div label{
        max-height: 40px;
        padding-top: 5px;
    }
    .login-icone{
        max-height: 15px;
        margin-left: 0px;
    }
    #login-form{
        height: 30vh;
    }
    .login-div input{
        font-size: 0.8rem;
        font-weight: 550;
    }
    .mostrar-senha-icone{
        max-height: 20px;
    }
    #imagem-input-div{
        min-height: 40px;
    }
    #imagem-input-div label{
       font-size: 0.8rem;
       line-height: 35px;
    }
    #entrar-botao{
        min-height: 40px;
        font-size: 0.8rem; 
        font-weight: 550;
    }
    footer{
        font-size: 0.7rem;
        font-weight: 550;
    }
}

@media screen and (orientation: landscape) and (min-height: 620px){
    #login{
        gap: 50px;
    }
    #imagem-div{
        max-height: 200px;
        max-width: 200px;
    }
    #imagem-div img{
        max-height: 200px;
    }
    .login-div{
        min-height: 45px;
    }
    .login-div label{
        max-height: 45px;
        padding-top: 5px;
        padding-left: 0px;
    }
    .login-icone{
        height: 30px;
        min-height: 30px;
        max-height: 35px;
    }
    #login-form{
        height: 30vh;
    }
    .login-div input{
        font-size: 0.9rem;
    }
    #entrar-botao{
        height: 35px;
    }
    footer{
        font-size: 0.9rem;
    }
}

@media screen and (orientation: landscape) and (min-height: 621px){
    #login{
        gap: 20px;
    }
    #imagem-div{
        max-height: 220px;
        max-width: 220px;
    }
    #imagem-div img{
        max-height: 220px;
    }
    .login-div{
        min-height: 45px;
    }
    .login-div label{
        max-height: 45px;
        padding-top: 0px;
        padding-left: 0px;
    }
    .login-icone{
        min-height: 20px;
    }
    #login-form{
        height: 30vh;
    }
    .login-div input{
        font-size: 0.9rem;
    }
    #entrar-botao{
        height: 45px;
    }
    footer{
        font-size: 0.9rem;
    }
}
@media screen and (orientation: landscape) and (min-height: 750px){
    #login{
        gap: 50px;
    }
    #imagem-div{
        max-height: 220px;
        max-width: 220px;
    }
    #imagem-div img{
        max-height: 220px;
    }
    .login-div{
        min-height: 50px;
    }
    .login-div label{
        max-height: 50px;
        padding-top: 0px;
    }
    .login-div img{
        max-height: 30px;
    }
    #login-form{
        height: 25vh;
    }
    .login-div input{
        font-size: 0.95rem;
    }
    #entrar-botao{
        height: 50px;
        font-size: 0.95rem;
    }
    .esqueci-senha{
        min-height: 35px;
    }
}
@media screen and (orientation: landscape) and (min-height: 850px) {
    #login{
        gap: 60px;
    }
    #login-form{
        gap: 20px;
    }
    .login-div{
        min-height: 50px;
    }
    .login-div label{
        max-height: 60px;
        padding-top: 0px;
    }
    .login-div img{
        max-height: 60px;
    }
    #login-form{
        min-height: 25vh;
    }
    #entrar-botao{
        height: 50px;
    }
    .esqueci-senha{
        font-size: 0.95rem;
    }
    .redefinir{
        min-height: 50px;
        font-size: 1rem;
    }
}

@media screen and (orientation: landscape) and (min-height: 920px){
    #login{
        gap: 30px;
    }
    #login-form{
        min-width: 45%;
    }
    #imagem-div{
        min-height: 200px;
        min-width: 200px;
        max-height: 200px; 
        max-width: 200px;
    }
    #imagem-div img{
        min-height: 200px;
        min-width: 200px;
        max-height:  200px;
    }
    .login-div{
        min-height: 60px;
    }
    .login-div label{
        margin-top: -10px;
        max-height: 60px;
    }
    .login-icone{
        min-height: 40px;
        margin-left: 30px !important;
    }
    .mostrar-senha-icone{
        min-height: 30px;
        margin-right: 30px;
    }
    #login-form{
        height: 28vh;
    }
    .login-div input{
        font-size: 1.05rem;
    }
    #imagem-input-div{
        min-height: 60px;
    }
    #imagem-input-div label{
        font-size: 1.05rem;
       line-height: 60px;
    }
    #entrar-botao{
        height: 60px;
        font-size: 1rem;
    }
    .entrar-cadastrar,.redefinir{
        height: 65px;
        font-size: 1.1rem;
        border-radius: 20px;
    }
    .esqueci-senha{
        font-size: 1rem;
    }
}