body{
  background: linear-gradient(to right, #3c0b0b, #8c3b0c);
}

#header{
    position: relative;
    z-index: 10;
}

main{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:calc(100vh - 55px);
  width: 100%;
}

.Seção-Perfil{
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: fit-content;
  width: 32vw;
  padding: 10px;
  border-radius: 10px;
}

.edit-profile-form{
  display: flex;
  justify-content: center;
  height: 450px;
  width: 320px;
  padding: 5px;
  background: rgba(131, 70, 0, 0.432);
  border-radius: 10px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 100%;
  gap: 18px;
}

.preview-image{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffffff;
}

h2{
  margin-top: -20px;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

h3{
  display: block;
  color: #fff;
  font-size: 1rem;
  margin-bottom: -5px;
}

input{
  height: 30px;
  min-width: 70%;
  padding: 5px;
  border: 1px solid #444;
  border-radius: 4px;
  background: rgba(185, 185, 185, 0.281);
  color: #fff;
}

/*label para o input de imagem*/
#label-foto{
  background-color: rgba(0, 0, 0, 0.712);
  width: 50%;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

#label-foto:hover{
  background-color: rgba(122, 122, 122, 0.452);
}

/*label substitui o input original*/
#foto-perfil{
  display: none;
}

.btn-save{
  background: #ddc7009a;
  color: white;
  text-shadow: 0px 2px 5px black,
  0px 2px 5px black,
  0px 2px 5px black;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.btn-save:hover{
  background: #ffe600cc;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.575);
}

.alert{
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
}

.alert-success{
  position: absolute;
  top: 30px;
  background: rgba(76, 175, 79, 0.562);
  color: #29f700;
  text-shadow: 0px 0px 5px black;
}

.alert-error{
  background: rgba(244, 67, 54, 0.1);
  color: #f44336;
}
