body{
  margin: 0;
  background: linear-gradient(to right, #3c0b0b, #8c3b0c);
  color: white;
}

main{
  display: flex;
  position: absolute;
  height: calc(100vh - 70px);
  bottom: 0;
  width: 100vw;
  flex-direction: row;
  background-color: transparent;
  justify-content: center;
  gap: 10vw;
  align-items: center;
}

.secao-perfil{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80%;
  width: 27vw;
  gap: 20px;
}

#principal-perfil{
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  min-height: 350px;
  width: 100%;
  gap: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
}

#div-foto-de-perfil{
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 160px;
  min-width: 160px;
  margin-top: -80px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
}
.nome{
  color: var(--cor-secundaria);
  font-size: 28px;
}

.bio{
  background-color: rgba(0, 0, 0, 0.466);
  font-size: 1.1rem;
  text-align: justify;
  padding: 20px;
  width: 90%;
  min-height: 60%;
  overflow-y: auto;
  border-radius: 10px;
}

#div-info{
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  justify-content: space-evenly;
  width: 100%;
  font-size: 0.85rem;
  padding: 10px;
  border-radius: 10px;
}

#div-info h3{
  color: var(--cor-secundaria);
}

.info{
  color: white;
}

#div-link-modificar{
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 10px;
  text-shadow: 0px 2px 4px black,
  0px 2px 4px black,
  0px 2px 4px black;
}

#div-link-modificar:hover{
  background-color: rgba(0, 0, 0, 0.678); 
}
#div-link-modificar:hover a{
  text-decoration: underline;
}

.lista-de-filmes{
  display: flex;
  flex-direction: column;
  min-height: 200px;
  width: fit-content;
  padding: 20px;
  gap: 20px;
}

.lista{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px 15px 15px 15px;
}

.nome-lista{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  width: 100%;
  text-align: start;
  font-size: 1.4rem;
  gap: 8px;
  border-bottom: 2px solid goldenrod;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.div-filmes{
  background-color: rgba(128, 128, 128, 0.521);
  display: flex;
  align-items: center;
  max-width: 560px;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.capa-filme{
  background-size: 100% 100%;
  min-width: 100px;
  height: 150px;
  border: 2px solid grey;
  background-color: #ccc;
  border-radius: 5px;
}

.div-botoes{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.mudar-capas{
  display: flex;
  background-color: #000000af;
  justify-content: center;
  align-items: center;
  color: var(--cor-secundaria);
  width: 40px;
  height: 150px;
  margin-top: -160px;
  border: 2px solid var(--cor-secundaria);
  border-radius: 5px;
  cursor: pointer;
}

.mudar-capas:hover{
  color: var(--cor-principal-destaque);
  border-color: var(--cor-principal-destaque);
  box-shadow: 10px 0px 15px rgba(255, 0, 0, 0.267);
}

.mudar-capas-esquerda{
  opacity: 0;
  border-right: none;
  cursor: auto;
  pointer-events: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.mudar-capas-direita{
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.mudar-capas-direita:hover{
  box-shadow: -10px 0px 15px rgba(255, 0, 0, 0.267);
}

@media screen and (max-width: 1370px) {
  main{
    height: calc(100vh - 30px);
  }

  .secao-perfil{
    width: 28vw;
    gap: 20px;
  }

  #principal-perfil{
    min-height: 300px;
    gap: 20px;
    padding-bottom: 20px;
  }

  .foto-de-perfil{
    margin-top: -60px;
    height: 120px;
  }

  .nome{
    font-size: 1.2rem;
  }

  .bio{
    font-size: 0.87rem;
    padding: 8px 15px;
    width: 90%;
    max-height: 60%;
  }

  #div-info{
    font-size: 0.65rem;
    padding: 10px;
  }

  #div-link-modificar{
    margin-top: -10px;
  }

  #link-modificar{
    font-size: 0.9rem;
  }

  .lista-de-filmes{
    gap: 10px;
  }

  .lista{
    padding: 7px 15px;
  }

  .nome-lista{
    font-size: 13px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .material-material-symbols-outlined{
    font-size: 5px !important;
  }

  .div-filmes{
    padding: 5px;
    gap: 10px;
    height: 102px;
    min-width: 350px;
    max-width: 350px;
  }

  .capa-filme{
    min-width: 60px;
    height: 90px;
  }

  .div-botoes{
    padding: 5px;
  }

  .mudar-capas{
    margin-top: -101px;
    font-size: 12px;
    width: 25px;
    height: 90px;
  }
  
}

@media screen and (min-width:1371px) and (max-width: 1600px) {
  main{
    height: calc(100vh - 30px);
  }

  .secao-perfil{
    width: 24vw;
    gap: 20px;
  }

  #principal-perfil{
    min-height: 250px;
    gap: 20px;
    padding-bottom: 30px;
  }

  .foto-de-perfil{
    margin-top: -70px;
    height: 140px;
  }

  .nome{
    font-size: 1.3rem;
  }

  .bio{
    font-size: 1rem;
    padding: 8px 15px;
    width: 90%;
    max-height: 22vh;
  }

  #div-info{
    font-size: 0.8rem;
    padding: 10px;
  }

  .lista-de-filmes{
    gap: 20px;
  }

  .lista{
    padding: 10px 15px 0px 15px;
  }

  .nome-lista{
    font-size: 18px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .div-filmes{
    padding: 8px;
    gap: 10px;
    height: 137px;
    min-width: 455px;
    max-width: 455px;
  }

  .capa-filme{
    min-width: 80px;
    height: 120px;
  }

  .div-botoes{
    padding: 7px;
  }

  .mudar-capas{
    margin-top: -136px;
    font-size: 20px;
    width: 35px;
    height: 120px;
  }
}