/*importando os diferentes pesos da fonte*/
@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/*Estilos para todos os elementos*/
*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:'Quicksand';
    transition: all 300ms ease-in-out;
    box-sizing: border-box;
}
/*Configurando para a página preencher toda a tela*/
html,body{
    height: 100vh;
    width: 100vw;
}
/*Prevenindo contra rolagem lateral*/
body{
    overflow: hidden;
}
/*definindo variáveis para as cores*/
:root{
    --cor-principal: #8B0000;
    --cor-principal-destaque: #B22222;
    --cor-principal-transparente: #f1050573;
    --cor-secundaria: #E6B800;
    --cor-secundaria-destaque: #FFD700;
    --cor-secundaria-transparente: #e6a100b1;
    --cor-preto-transparente: #000000af;
    --cor-preto-transparente-escuro: #000000d4;
    --cor-header: black;
    --cor-h1: #B22222;
    --cor-login: white;
    --cor-link: white;
}
/*removendo estilos padrões para links*/
a{
    text-decoration: none;
    color: white;
}
h1{
    user-select: none;
    text-shadow: 1px 5px 3px black;
    color: var(--cor-h1);
}
/*estilos para todos os headers*/
header{
    align-items: center;
    height: 50px;
    justify-items: center;
}
/*estilos para o header principal*/
#header{
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    z-index: 2;
}
/*cor para os textos destacados*/
header span{
    color: var(--cor-secundaria);
}
.link{
    color: white;
    font-size: 0.8rem;
    font-weight: 550;
    text-decoration: underline;
    cursor: pointer;
}
#header-esquerda{
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    min-width: 14%;
}
#header-esquerda h1{
    color: var(--cor-h1);
    font-size: 1.6rem;
}
/*solução temporária para inverter as cores de elementos específicos*/
.invertido{
    filter: invert(100%);
}
.hamburguer-menu{
    display: none;
    height: fit-content;
    width: fit-content;
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 40%;
}
.hamburguer-menu > img{
    height: 20px;
    cursor: pointer;
}
#header-direita{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    height: 80px;
    width: fit-content;
    margin-right: 30px;
}
/*links para as páginas 'cadastrar-se' e 'entrar'*/
.botao-cadastrar-entrar{
    font-size: 1rem;
    text-decoration: none;
    min-width: fit-content;
}
button{
    background-color: var(--cor-preto-transparente);
    color: white;
    border: 2px solid var(--cor-secundaria-destaque);
    border-radius: 10px;
    cursor: pointer;
}
/*foto e nome de usuário no header*/
#div-usuario{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20%;
  min-height: 70%;
  min-width: 5vw;
}
#nome-usuario-header{
    color: var(--cor-secundaria-destaque);
    font-size: 1.35rem;
}
#foto-perfil-header{
    display: flex;
  justify-content: center;
  align-items: center;
  max-height: 45px;
  max-width: 45px;
}
/*menu lateral no celular*/
#side-menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: -50%;
    height: 100%;
    width: 50%;
    background-color: var(--cor-header);
    border: 3px solid black;
    border-top: none;
    border-bottom: none;
    transition: left 300ms ease-in-out;
    z-index: 3;
}
#side-menu header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}
/*div com os links no menu lateral*/
#links{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
#links a{
    left: 0%;
    text-align: center;
    height: 30px;
    width: 100%;
    border: 1px solid var(--cor-secundaria);
    border-right: none;
    border-left: none;
    line-height: 30px;
}
/*tirar a borda de cima para os links a cada 2 links*/
#links :nth-child(even){
    border-top: none;
}
/*Qualquer imagem não vai poder ser selecionada pelo usuário*/
img{
    user-select: none;
}
/*solução temporária para transformar a cor dos ícones na cor secundária*/
.icon{
    filter: brightness(0) saturate(100%) invert(67%) sepia(82%) saturate(500%) hue-rotate(5deg);
}
footer{
    background-color: var(--cor-header);
    color: white;
    position: absolute;
    bottom: 0;
    height: 22px;
    width: 100%;
    z-index: 2;
}
footer p{
    line-height: 22px;
}
/*estilos para celular na vertical*/
@media screen and (orientation: portrait){
    #header-esquerda{
        margin: auto;
        justify-content: space-between;
        width: 90%;
    }
    #header-esquerda h1{
        font-size: 1.55rem;
    }
    #header-direita{
        display: none;
    }
    .hamburguer-menu{
        display: inline-block;
    }
}
/*celulares menores na horizontal*/
@media screen and (orientation: landscape) and (max-height: 411px){
    #header{
        height: 35px;
    }
    #header h1{
        font-size: 1.22rem;
        padding-left: 10px;
    }
    .botao-cadastrar-entrar{
        font-size: 0.95rem;
    }
    footer{
        font-size: 0.6rem;
        font-weight: 550;
    }
}
@media screen and (orientation: landscape) and (min-height: 412px) and (max-height: 549px){
    #header{
        height: 35px;
    }
    #header h1{
        font-size: 1.22rem;
        padding-left: 10px;
    }
    #nome-usuario-header{
        font-size: 0.8rem;
    }
    #foto-perfil-header{
        max-height: 27px;
        max-width: 27px;
    }
    .botao-cadastrar-entrar{
        font-size: 0.75rem;
    }
    footer{
        font-size: 0.6rem;
        font-weight: 550;
    }
}
/*1366x768*/
@media screen and (orientation: landscape) and (min-height: 550px){
    #nome-usuario-header{
        font-size: 1rem;
    }
    #foto-perfil-header{
        height: 35px;
    }
    .botao-cadastrar-entrar{
        font-size: 0.9rem;
    }
    footer{
        font-size: 0.7rem;
        font-weight: normal;
    }
}
/*1600x900*/
@media screen and (orientation: landscape) and (min-height: 721px) {
    #nome-usuario-header{
        font-size: 1.10rem;
    }
    #foto-perfil-header{
        height: 35px;
    }
    .botao-cadastrar-entrar{
        font-size: 1rem;
    }
    footer{
        font-size: 0.9rem;
    }
}
/*1980x1080*/
@media screen and (orientation: landscape) and (min-height: 920px){
    #header{
        height: 70px;
    }
    #header h1{
        font-size: 2.0rem;
    }
    #nome-usuario-header{
        font-size: 1.35rem;
    }
    #foto-perfil-header{
        height: 55px;
        width: 55px;
    }
    .botao-cadastrar-entrar{
        font-size: 1.25rem;
    }
    footer{
        height: 30px;
    }
    footer p{
        line-height: 30px;
    }
}
@media screen and (orientation: landscape) and (max-width: 800px){
    #header h1{
        margin-left: 20px;
    }
    #header-direita{
        min-width: 28vw;
    }
}