*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 300ms ease-in-out;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
}
:root{
    --cor-principal: #8B0000;
    --cor-principal-destaque: #B22222;
    --cor-principal-transparente: #f1050573;
    --cor-secundaria: #E6B800;
    --cor-secundaria-destaque: #FFD700;
    --cor-header: black;
    --cor-h1: #B22222;
    --cor-login: white;
    --cor-link: white;
}
body{
    background-image: url(../media/img/background-template-darker.png);
    background-size: cover;
    overflow: hidden;
}
h1{
    user-select: none;
    text-shadow: 1px 7px 3px black;
    color: var(--cor-h1);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    height: 150px;
}
.hamburguer-menu{
    height: fit-content;
    width: fit-content;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.invertido{
    filter: invert(100%);
}
.hamburguer-menu > img{
    height: 20px;
    cursor: pointer;
}
header > .hamburguer-menu{
    margin-left: 20px;
}
header > h1{
    line-height: 150px;
    color: var(--cor-h1);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
header > h1 > span{
    color: var(--cor-secundaria);
}
.link{
    color: white;
    font-size: 0.8rem;
    font-weight: 550;
    text-decoration: underline;
    cursor: pointer;
}
#header-direita{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
#botao-cadastro{
    color: var(--cor-h1);
    position: relative;
    right: 50px;
    font-size: 0.92rem;
    text-decoration: none;
}
button{
    border: none;
    background-color: #78787800;
}
#mudar-modo{
    position: relative;
    right: 15px;
    cursor: pointer;
}
#mudar-modo-icone{
    height: 55px;
}
#side-menu{
    position: fixed;
    top: 0;
    left: -15%;
    height: 100%;
    width: 15%;
    background-color: var(--cor-header);
    border: 3px solid black;
    border-top: none;
    border-bottom: none;
    transition: left 300ms ease-in-out;
}
#side-menu > .hamburger-menu{
    margin-top: 20px;
    left: auto;
}
#side-menu > h1{
    margin-top: 25%;
    color: var(--cor-login);
}
#side-menu > h1 > span{
    color: var(--cor-cinema);
    font-size: 2rem;
}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 100px);
}
#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    gap: 15px;
    height: 60%;
    max-width: 30%;
    border-radius: 15px;
}
#user-pfp{
    height: 150px;
    margin-top: 5%;
    filter: brightness(0) saturate(100%) invert(67%) sepia(82%) saturate(500%) hue-rotate(5deg);
}
#login > h1{
    color: var(--cor-login);
    width: 35%;
    text-shadow: 5px 5px 3px black;
}
#login-form{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.login-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    height: 50px;
    width: 70%;
    color: var(--cor-login);
    border: 2px solid var(--cor-secundaria-destaque);
    border-radius: 30px;
}
img{
    user-select: none;
}
.icon{
    filter: brightness(0) saturate(100%) invert(67%) sepia(82%) saturate(500%) hue-rotate(5deg);
}
.login-div img{
    margin-top: 5px;
    margin-left: 15px;
    height: 30px;
}
.login-div input{
    height: 65%;
    width: 80%;
    color: white;
    font-size: 1.2rem;
    background-color: transparent;
    border-radius: 4px; 
    border: none;
}
#login-button{
    color: var(--cor-login);
    background-color: black;
    padding: 5px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}
#login-button:hover{
    color: black;
    background-color: white;
}

#boas-vindas-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
}
#boas-vindas-div h1{
    color: var(--cor-secundaria-destaque);

    text-shadow: none;
    font-size: 2rem;
}
#boas-vindas-div p{
    color: white;
    font-size: 1.5rem;

}
footer{
    background-color: var(--cor-header);
    color: var(--cor-h1);
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    border: 2px solid black;
}
@media screen and (min-width: 600px){
    header{
        height: 60px;
    }
    header > h1{
        line-height: 60px;
        font-size: 2rem;
    }
    #login{
        width: 70%;
    }
}
@media screen and (min-width: 1024px){
    #login{
        width: 70%;
    }
}

@media screen and (min-width: 1300px) {
    #login{
        width: 50%;
    }
}

@media screen and (min-height: 1200px){
    #login{
        height: 30%;
    }
}